/* buscador */
.search-box {
  position: relative;
  width: 100%;
  max-width: 520px;
  margin-bottom: 25px;
}

/* INPUT */
.search-box input {
  width: 100%;
  padding: 14px 42px 14px 18px; /* espacio para botón */
  border-radius: 14px;

  border: 2px solid rgba(0, 0, 0, 0.08);
  background: #fff;

  font-size: 16px;
  color: #0038a8;

  outline: none;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);

  transition: all 0.25s ease;
}

